In [8]:
import pandas as pd
import numpy as np

# Sample data
data = {'CustomerID': [100, 100, 101, 101, 102, 103, 103],
        'Product': ['A', 'B', 'A', 'C', 'A', 'B', np.nan]}
df = pd.DataFrame(data)

# Count unique values across all columns (excluding NaN)
all_unique_counts = df.nunique()
all_unique_counts

CustomerID    4
Product       3
dtype: int64

In [5]:
# Count unique values in the 'Product' column
unique_products = df['Product'].nunique()
print("Unique products:", unique_products)

Unique products: 3

In [7]:
# Count unique values per customer (excluding NaN)
df.groupby('CustomerID').nunique()

            Product
CustomerID
100               2
101               2
102               1
103               1